@mixin animation($props) {
  $name: map-get(
    $map: $props,
    $key: name
  );
  $duration: map-get(
    $map: $props,
    $key: duration
  );
  animation: $name $duration 1 ease-in-out;
  @keyframes #{$name} {
    @content;
  }
}

@mixin transform($mapTransform) {
  transform: $mapTransform;
}


@mixin frame($percentage,$transforms){
  #{$percentage}{
      @include transform(defineTransforms($transforms)); 
  }
}
