.button-change-theme {
  position: fixed;
  bottom: 0;
  z-index: 100;
  padding: 13px;
  margin: 2em;
  background-color: var(--color-primary);
  border-radius: 20px;
  .text {
    color: white;
  }
}
