.loading {
    @include size(40px,40px,100%);
    border:3px solid silver;
    border-left-color: $primary-color;
    z-index: 100;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    animation: loading .5s infinite linear;
    @keyframes loading {
        from {
            transform: translate(-50%,-50%)rotate(360deg);
        }
    }
    @include max-width($width-mobile1) {
        position: absolute;
    }
}


#app {
    visibility: hidden;
    animation: showing-page 1s ease-out;
    @keyframes showing-page {
        from {
            opacity: 0;
        }
    }
}
