.center {
  text-align: center;
}

.section {
  width: 90%;
  margin: auto;
}

.flex-row-center {
  display: flex;
  align-items: center;
  justify-content: center;
  > * {
    margin: 2em;
  }
}

.container-mixins {
  display: flex;
  width: 80%;
  margin: 2em 0;
  @include max-width($width-mobile1) {
    display: block;
    width: 100%;
    margin: 0 0 -3em;
  }
  .row {
    display: flex;
    &.container-mixins-nav {
      flex-direction: column;
      width: 100%;
    }
    &.preview-change-animation {
      align-items: center;
      width: 200px;
      @include max-width($width-mobile1) {
        width: auto;
      }
    }
  }

  .all-category-mixins {
    @include max-width($width-mobile1) {
      overflow-x: scroll;
      width: 100%;
      display: block;
      white-space: nowrap;
    }
    .category-mixin {
      font-weight: bold;
      margin: 2em 3em 2em 0;
      padding: 10px 30px;
      border-radius: 10px;
      transition: background 0.3s;
      border: 2px solid $secondary-color;
      color: $secondary-color;
      &:hover {
        background: $primary-color;
        color: white;
      }
    }
    .type-animation-selected-category {
      @include bfg($primary-color, white);
    }
  }
  .all-mixins {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto-fill, minmax(30px, 1fr));
    gap: 2em;
    height: 200px;
    overflow-y: auto;
    @include max-width($width-mobile1) {
      grid-template-columns: repeat(2, 1fr);
      gap: 1em;
      height: 150px;
    }
    @include min-width($width-mobile1) {
      padding-right: 2em;
      &::-webkit-scrollbar {
        display: block;
        background: var(--color-silver);
        width: 6px;
        height: 8px;
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 6px;
        background: $text-smooth;
        &:vertical:hover {
          background: lighten($text-smooth, 30);
        }
      }
    }
  }
  .square-main {
    $size: 100px !important;
    width: $size;
    height: $size;
    box-shadow: 10px -10px 30px inset rgba(0,0,0,.5);
    border-radius: 100%;
  }
}
