.center {
    text-align: center;
}

.section {
    width: 90%;
    margin: auto;
}

.flex-row-center {
    display: flex;
    align-items: center;
    justify-content: center;
    > * {
        margin: 2em;
    }
}

.all-mixins {
    display: flex;
    flex-flow: wrap;
    width: 80%;
    @include max-width($width-mobile1) {
        overflow-x: scroll;
        flex-flow: initial;
        width: 100%;
        > * {
            flex: none;
            cursor: default;
        }
    }
    > *{ 
        margin: 1em 1em 1em 0;
    }
}

.text-preview-animation {
    text-shadow: 0 20px 30px rgba(0,0,0,.2);
    color: $primary-color;
    font-size: 1.2em;
}
