.header {
    background: $silver;
    height: $height-header;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
    .links {
        display: flex;
        align-items: center;
        width: 80%;
        margin: auto;
        @include max-width($width-mobile1) {
            width: 100%;
        }
        > * {
            margin-right: 1in;
            font-size: 13px;
            @include max-width($width-mobile1) {
                margin:0 auto;
                cursor: default;
            }        
        }
    }
}
