%padding-td {
  td,
  th {
    padding: 1em 10px;
    @include max-width($width-mobile1) {
      font-size: 14px;
    }
  }
}

.container-table {
  height: 500px;
  overflow-y: auto;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.06);
  margin: 1em auto;
  padding: 1em;
  position: relative;
  @include max-width($width-mobile1) {
    width: 100%;
    box-shadow: none;
  }
}
.table-animations {
  width: 100%;
  border-collapse: collapse;
  &__header {
    @extend %padding-td;
    color: var(--color-text-normal);
  }
  &__body {
    tr {
      border-bottom: 1px solid var(--color-page-layout);
    }
    @extend %padding-td;
    td {
      text-align: center;
      color: var(--color-text-gray);
    }
  }
}
