%spacing-cell {
  padding: 10px 20px;
}

.usage {
  &--container {
    margin: 0 1.5em;
  }
  &__table {
    padding: 1em;
    border-radius: 20px;
    border: 1px solid lighten($color: #000000, $amount: 20);

    th {
      color: var(--color-text-normal);
      text-align: left;
      @extend %spacing-cell;
    }
    td {
      color: var(--color-text-gray);
      @extend %spacing-cell;
    }
  }
}
