* {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-display: swap;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border-width: 0;
  outline: none;
  background: no-repeat;
}

span,
p {
  color: rgb(50, 50, 50);
}

html,
body {
  scroll-behavior: smooth;
  background: var(--color-page);
}

::-webkit-scrollbar {
  display: none;
}

::selection {
  background: $primary-color;
  color: white;
}
