@mixin centerContent() {
  display: flex;
  justify-content: center;
  align-items: center;
  @content;
}

@mixin flex($dir: row, $align: center, $justify: none) {
  display: flex;
  flex-direction: $dir;
  align-items: $align;
  justify-content: $justify;
}

@mixin max-width($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}

@mixin min-width($width) {
  @media screen and (min-width: $width) {
    @content;
  }
}

@mixin bfg($background, $color: initial) {
  background: $background;
  color: $color;
}

@mixin size($width : auto ,$height : auto,$radius : 0){
  width: $width;
  height: $height;
  border-radius: $radius;
}