$silver: rgb(250, 250, 250);
$text-smooth: #727272;
$primary-color: #5c24fc;
$secondary-color: #9250ff;
$page-color: #ffffff;

$height-header: 70px;
$width-mobile1: 600px;

:root {
  --color-silver: rgb(250, 250, 250);
  --color-text-smooth: #727272;
  --color-primary: #5c24fc;
  --color-secondary: #9250ff;
  --color-page: #ffffff;
  --color-page-layout: rgb(250, 250, 250);
  --color-text-normal: rgb(60, 60, 60);
  --color-format-code-title: rgb(40, 40, 40);
  --color-format-code-content: rgb(30, 30, 30);
  --color-primary-alpha: #f2edff;
  --color-silver-alpha: #fafafa;
}

[data-theme="dark"] {
  --color-silver: rgb(250, 250, 250);
  --color-page-layout: rgb(50, 50, 50);
  --color-text-smooth: rgb(210, 210, 210);
  --color-primary: #5c24fc;
  --color-secondary: #9250ff;
  --color-page: rgb(30, 30, 30);
  --color-text-normal: #ffffff;
  --color-format-code-title: rgb(200, 200, 200);
  --color-format-code-content: #ffffff;
  --color-primary-alpha: #222222;
  --color-silver-alpha: #2e2e2e;
}
