@mixin keyframes-shake {
    @include animation(( name : shake , duration : .3s )){
        @include frame( (0%,50%), ( translateX : 10px )); 
        @include frame( (30%,100%), ( translateX : -10px )); 
    }
}

@mixin keyframes-shake-rotate {
    @include animation((name : shake-spring , duration : .3s)) {
        @include frame( (0%,50%), ( translateX : 10px , rotate : 20deg  )); 
        @include frame( (30%,100%), ( translateX : -10px , rotate : -20deg )); 
    }
}

@mixin keyframes-shake-vertical {
    @include animation((name : shake-vertical , duration : .3s)) {
        @include frame( (0%,50%), ( translateY : 10px )); 
        @include frame( (30%,100%), ( translateY : -10px )); 
    }
}

@mixin keyframes-shake-cross {
    @include animation((name : shake-cross , duration : .4s)) {
        @include frame( (0%,50%), ( translateX : 10px )); 
        @include frame( (10%,60%), ( translateY : 10px )); 
        @include frame( (20%,70%), ( translateY : -10px )); 
        @include frame( (30%,100%), ( translateX : -10px )); 
    }
}


@mixin keyframes-shake-skew($direction) {
    @include animation((name : shake-skew-#{$direction} , duration : .4s)) {
        $mapA : ();
        $mapB : ();
        $skew : 50deg;
        @if $direction == "x" {
            $mapA : ( skewX : $skew );
            $mapB : ( skewX : $skew * -1 );
        }
        @else if $direction == "y" {
            $mapA : ( skewY : $skew );
            $mapB : ( skewY : $skew * -1 );
        }
        @include frame( (0%,50%), $mapA); 
        @include frame( (10%,60%), $mapB); 
    }
}
